body {
  font-family: "Poppins", sans-serif;
}
/* header section design */
.honda-header {
  background-color: #264653;
  color: white;
}
/* purchase button design */
.honda-purchase-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 168px;
  height: 44px;
  left: 156px;
  top: 413px;

  background: #e76f51;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  color: white;
}
/* featured bike design */
.honda-featured-bike img {
  width: 288px;
  height: 243px;
}
/* rating design */
.fa-star.filled,
.fa-star {
  color: #e76f51;
}
